In [1]:
import numpy as np

import pandas as pd

In [12]:
counties = pd.read_csv('us-counties.csv', dtype={'fips':str})

In [55]:
counties.head(10)

        date       county       state   fips  cases  deaths
0 2020-01-21    Snohomish  Washington  53061      1       0
1 2020-01-22    Snohomish  Washington  53061      1       0
2 2020-01-23    Snohomish  Washington  53061      1       0
3 2020-01-24         Cook    Illinois  17031      1       0
4 2020-01-24    Snohomish  Washington  53061      1       0
5 2020-01-25       Orange  California  06059      1       0
6 2020-01-25         Cook    Illinois  17031      1       0
7 2020-01-25    Snohomish  Washington  53061      1       0
8 2020-01-26     Maricopa     Arizona  04013      1       0
9 2020-01-26  Los Angeles  California  06037      1       0

In [14]:
counties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261070 entries, 0 to 261069
Data columns (total 6 columns):
date      261070 non-null object
county    261070 non-null object
state     261070 non-null object
fips      258343 non-null object
cases     261070 non-null int64
deaths    261070 non-null int64
dtypes: int64(2), object(4)
memory usage: 12.0+ MB

In [15]:
# unique counties in the data
counties.fips.unique().size

3022

2919

In [17]:
# convert date column to datetime
counties.date = pd.to_datetime(counties.date)

In [18]:
# extract the same end date as the paper
counties_may = counties[counties.date <= '2020-05-20']
counties_may.fips.unique().size
# 2920 unique county fips is consistent with the paper, however (next cell)

2920

In [48]:
# without missing fips
counties_no_null = counties_may[~counties_may.fips.isna()]
counties_no_null.fips.unique().size

2919

In [19]:
# counties with missing fips
(counties_may[counties_may.fips.isna()].groupby(['county', 'state'], as_index=False)['date'].agg({'date':'count'}).
     rename(columns={'date' : 'count'}))

           county                     state  count
0     Kansas City                  Missouri     62
1   New York City                  New York     81
2         Unknown                    Alaska      3
3         Unknown                   Arizona     10
4         Unknown                  Arkansas     62
5         Unknown                California     17
6         Unknown                  Colorado     60
7         Unknown               Connecticut     52
8         Unknown                  Delaware     40
9         Unknown                   Florida     57
10        Unknown                   Georgia     61
11        Unknown                      Guam     67
12        Unknown                    Hawaii     25
13        Unknown                     Idaho      2
14        Unknown                  Illinois     49
15        Unknown                   Indiana      2
16        Unknown                      Iowa     28
17        Unknown                    Kansas      7
18        Unknown                  Kentucky     42
19        Unknown                 Louisiana     64
20        Unknown                     Maine     59
21        Unknown                  Maryland     36
22        Unknown             Massachusetts     66
23        Unknown                  Michigan     53
24        Unknown                 Minnesota     55
25        Unknown               Mississippi      4
26        Unknown                  Missouri     36
27        Unknown                  Nebraska     25
28        Unknown                    Nevada     54
29        Unknown             New Hampshire     43
30        Unknown                New Jersey     70
31        Unknown                New Mexico      9
32        Unknown                  New York      7
33        Unknown              North Dakota      4
34        Unknown  Northern Mariana Islands     54
35        Unknown                      Ohio      1
36        Unknown                    Oregon      2
37        Unknown              Pennsylvania      3
38        Unknown               Puerto Rico     69
39        Unknown              Rhode Island     81
40        Unknown              South Dakota      3
41        Unknown                 Tennessee     35
42        Unknown                      Utah     53
43        Unknown                   Vermont     59
44        Unknown            Virgin Islands     68
45        Unknown                  Virginia     40
46        Unknown                Washington     14

In [38]:
# filter the same way as the paper (caution: coutinued this way treating all missing fips as the same county)
grouped_may = counties_may.groupby(['state', 'county', 'fips'], as_index=False)['cases'].sum()
grouped_may.fips.unique().size

2919

In [67]:
counties_cumul = counties_may[counties_may.date == '2020-05-20']
counties_cumul[(counties_cumul.cases >= 10) & (counties_cumul.deaths >= 1)].fips.unique().size

1587

In [53]:
counties_no_null_cumu = counties_no_null[counties_no_null.date == '2020-05-20']
counties_no_null_cumu[counties_no_null_cumu.deaths >= 1].fips.unique().size

1663

In [30]:
counties_no_null[counties_no_null.cases >= 10].fips.unique().size

2515

In [39]:
# without missing counties
group_no_null = (counties_no_null.groupby(['fips'], as_index=False)[['cases']].sum())
group_no_null = group_no_null[group_no_null.cases >= 10]
group_no_null.fips.unique().size

3002

In [25]:
(counties_no_null.groupby(['fips'], as_index=False)[['cases']].sum()).shape

(3021, 2)

In [41]:
counties_no_null[counties_no_null.cases >= 10].fips.unique().size

2515

In [42]:
counties_may[counties_may.cases >= 10].fips.unique().size

2189

In [ ]:
counties_part.fips.unique().size

In [ ]:
counties[counties.state == 'Iowa'].county.unique()